*{
    margin: 0px;
    padding: 0px;
}
h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}
h2{
    color: blue;
    font-family: cursive;
}
p{
    color: blueviolet;
}